@import "tailwindcss";

body {
    direction: rtl;
}
.container {
    margin: auto;
    padding: 0 2rem;
}
section {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
}

.scroll-container {
    overflow-x: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.section::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}
